{% extends "app/layout.html" %}

{% block content %}
<head>
    <title> 북가주 한양 대학교 동문회 - Join </title>
</head>

<div class="paragraph" style="text-align:left;">
    <strong>
    북가주 한양대 동문회는 카카오톡과 이메일로 연락을 주고 받습니다. <br>
    동문회에 관해 더 자세히 알고 싶으시면 동문 임원에게 아래에 정보를 <br>
    기재한후 Submit 버튼을 클릭해 주시기 바랍니다. <br>
    최대한 빨리 연락 드리겠습니다. 감사합니다. <br><br>
    </strong>
</div>
<div>
    <form enctype="multipart/form-data" action="https://formspree.io/hyubayarea@googlegroups.com"
          method="POST" id="form-messages">
        <div id="messages-form-parent" class="wsite-form-container" style="margin-top:10px;">
            <ul class="formlist" id="messages-form-list">
                <h2 style="text-align:left;">동문회 가입 신청</h2>
                <div>
                    <div class="wsite-form-field wsite-name-field" style="margin:5px 0px 5px 0px;">
                        <label class="wsite-form-label" for="input-firstName">Name
                            <span class="form-required">*</span>
                        </label>
                        <div style="clear:both;"></div>
                        <div class="wsite-form-input-container wsite-form-left wsite-form-input-first-name">
                            <input id="input-firstName" class="wsite-form-input wsite-input" type="text"
                                   name="First Name">
                            <label class="wsite-form-sublabel" for="input-firstName">First</label>
                        </div>
                        <div class="wsite-form-input-container wsite-form-right wsite-form-input-last-name">
                            <input id="input-lastName" class="wsite-form-input wsite-input" type="text"
                                   name="Last Name">
                            <label class="wsite-form-sublabel" for="input-lastName">Last</label>
                        </div>
                        <div id="instructions-name" class="wsite-form-instructions"
                             style="display:none;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </div>

                <div>
                    <div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
                        <label class="wsite-form-label" for="input-email">Email
                            <span class="form-required">*</span>
                        </label>
                        <div class="wsite-form-input-container">
                            <input id="input-email"
                                   class="wsite-form-input wsite-input wsite-input-width-370px" type="text"
                                   name="Email">
                        </div>
                        <div id="instructions-email" class="wsite-form-instructions"
                             style="display:none;"></div>
                    </div>
                </div>

                <div>
                    <div class="wsite-form-field" style="margin:5px 0px 5px 0px;">
                        <label class="wsite-form-label" for="input-comment">Comment (학번, 학과, 사는 지역 등)
                            <span class="form-required">*</span>
                        </label>
                        <div class="wsite-form-input-container">
                    <textarea id="input-comment" class="wsite-form-input wsite-input wsite-input-width-370px"
                              name="Comment" style="height: 200px"></textarea>
                        </div>
                        <div id="instructions-comment" class="wsite-form-instructions"
                             style="display:none;"></div>
                    </div>
                </div>
            </ul>
        </div>
        <div style="display:none; visibility:hidden;">
            <input type="text" name="wsite_subject">
        </div>
        <div style="text-align:left; margin-top:10px; margin-bottom:10px;">
            <input type="hidden" name="form_version" value="2">
            <input type="hidden" name="wsite_approved" id="wsite-approved" value="weebly">
            <input type="hidden" name="ucfid" value="messages">
            <input type="submit" style="position:absolute;top:0;left:-9999px;width:1px;height:1px">
            <button type="button" onclick="document.getElementById(&#39;form-messages&#39;).submit()">Submit</button>
        </div>
    </form>
</div>
<div class="paragraph" style="text-align:left;"> 2012년 이전 활동 링크
    <ul>
        <li>Facebook:
            <a href="https://www.facebook.com/groups/386950631366870/" target="_blank">
                www.facebook.com/groups/386950631366870/</a>
        </li>
        <li>Facebook:
            <a href="https://www.facebook.com/bay.hanyang" target="_blank">
                www.facebook.com/bay.hanyang</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block scripts %}
<script>
var STATIC_BASE = 'https://formspree.io/';


</script>
{% endblock %}