{% extends "app/layout.html" %}

{% block content %}
<head>
    <title> 골프모임 </title>
</head>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>골프 모임</strong><br><br>
        김재홍 골프 회장 (91 전통)의 주도 아래 매년 4-5회 동문
        골프 모임을 개최합니다. 골프 실력에 관계없이 골프를 사랑하는
        모든 동문 분들은 자유롭게 참여하실 수 있습니다. 이 모임은
        전체 동문 행사가 없는 기간에도 정기적으로 열리며, 동문 간의
        우애와 네트워크를 강화하는 데 큰 도움이 됩니다. 자연 속에서
        동문 간의 화합과 친목을 도모할 수 있는 기회를 제공합니다.<br><br>

        모임에서는 토너먼트 또는 미니 토너먼트를 진행하며, 챔피언,
        롱디, 니어핀, 노력상 등 다양한 상품을 수여하여 골프 실력
        향상에 기여하고 있습니다. 아래는 동문 모임에서 이용했던
        골프장입니다. 동문 여러분의 많은 관심과 참여를 부탁드립니다.<br><br>

        <ul>
            <li><a href="https://www.baylandsgolflinks.com/">Baylands Golf Links, Palo Alto, CA</a></li>
            <li><a href="https://www.playcallippe.com/">Calippe Preserve Golf Course, Pleasanton, CA</a></li>
            <li><a href="https://www.cinnabarhills.com/">Cinnabar Hills Golf Club, San Jose, CA</a></li>
            <li><a href="https://coyotecreekgolf.com/">Coyote Creek Golf Club, Morgan Hill, CA</a></li>
            <li><a href="https://www.eagleridgegolfcourse.com/">Eagle Ridge Golf Club, Gilroy, CA</a></li>
            <li><a href="https://poppyridgegolf.ncga.org/">Poppy Ridge Golf Course, Livermore, CA</a></li>
            <li><a href="https://santateresagolf.com/">Santa Teresa Golf Club, San Jose, CA</a></li>
            <li><a href="https://seascapegc.teesnap.net/">Seascape Golf Club, Aptos, CA</a></li>
            <li><a href="https://wentevineyards.com/golf">The Course at Wente Vineyards, Livermore, CA</a></li>
        </ul>

        <br>
        링크를 클릭하시면 구글포토 앨범을 보실 수 있습니다.

        <br><br>

    </font>
</div>
<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2024_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="651" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/jbHNZ35YXF27ayF68">
                2024-04-28 제 1 회 동문골프
            </a>
        </strong><br>
            <a href="https://photos.app.goo.gl/gwddirNz9nkknYJHA">
                2024-06-23 제 2 회 동문골프
            </a><br>
            <a href="https://photos.app.goo.gl/pYRMMXYr7N7JTWRH7">
                2024-08-24 제 3 회 동문골프
            </a><br>
            <br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2023_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="393" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/pJZDMSyWsoPMSCWP6">
                2023-10-21 김용근 고문단장배 추계 골프
            </a>
        </strong><br><br>
            <a href="https://photos.app.goo.gl/ttzrTFUTJaCkgY4q8">
                2023-08-26 제 4 회 동문골프
            </a><br>
            <a href="https://photos.app.goo.gl/anh6REgficM1oJQZ6">
                2023-05-27 제 3 회 동문골프
            </a><br>
            <a href="https://photos.app.goo.gl/6SJQtoqqd8DkBFgS7">
                2023-04-29 제 2 회 동문골프
            </a><br>
            <a href="https://photos.app.goo.gl/ZSF885cWuuBhucNE7">
                2023-03-25 제 1 회 동문골프
            </a><br>
            <br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2022_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="387" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/6jTnm3P3XK1WZ2Po6">
                2022-10-15 김용근 고문 단장배 Coyote Creek
            </a>
        </strong><br><br>
            <a href="https://photos.app.goo.gl/pi5Ap9ZPPjNG33mC6">
                2022-09-24 제 3 회 번개 Santa Teresa
            </a><br>
            <a href="https://photos.app.goo.gl/os7gGfUnJdPqXevK9">
                2022-04-23 제 2 회 번개 Calippe
            </a><br>
            <a href="https://photos.app.goo.gl/qqgQYN1kSz9S2Q8dA">
                2022-02-05 제 1 회 번개 Santa Teresa
            </a>
        <br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2021_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="588" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/3rebLMB93NXCD8hQ6">
                2021-10-16 추계 골프 대회 Coyote Creek
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2019_fall_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="311" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/ivzWkoPRkvWjjmdJ6">
                2019-10-26 총장배 추계 골프 Cinnabar
            </a>
        </strong><br><br>
            <a href="https://photos.app.goo.gl/1cYQXqQAfeED1Wes7">
                2019-11-16 제 7 회 번개 Poppy ridge
            </a>
        <br>
            <a href="https://photos.app.goo.gl/S4FA31R4p83QRzTm7">
                2019-10-05 제 6 회 번개 Wente
            </a>
        <br>
            <a href="https://photos.app.goo.gl/erULZuKTDWtGmdn7A">
                2019-09-21 제 5 회 번개 Seascape
            </a>
        <br>
            <a href="https://photos.app.goo.gl/HDVZKFakDE5CJJbL8">
                2019-07-13 제 4 회 번개 Poppy ridge
            </a>
        <br><br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2019_spring_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="339" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/VjiF653RhqdWkiC797">
                2019-06-15 총장배 춘계 골프 Baylands
            </a>
        </strong><br><br>
            <a href="https://photos.app.goo.gl/jLRvEN6rQj2tSDFs6">
                2019-05-19 제 3 회 번개 Santa Teresa
            </a>
        <br>
            <a href="https://photos.app.goo.gl/WE38ZDnYNoo5djtx7">
                2019-04-27 제 2 회 번개 Eagle Ridge
            </a>
        <br>
            <a href="https://photos.app.goo.gl/xk1xVb1KLUhC9Uib6">
                2019-03-30 제 1 회 번개 Calippe
            </a>
        <br><br></font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2018_tight_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="312" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/vW8PeoyMNWjadQNt8">
                2018-08-25 총장배 북가주 골프 대회
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2017_fall_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="304" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/cNdpT1rpBJjQkaXc8">
                2017-09-09 총장배 북가주 골프 대회
            </a>
        </strong><br><br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2017_spring_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="265" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/Z7qC6YkDN8LW4q4z5">
                2017-05-20
            </a>
        </strong><br><br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2016_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="371" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/hqCP74q6ncRR3Gjw6">
                2016-08-27
            </a>
        </strong><br><br>
    </font>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2016_spring_golf.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="454" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/Zam3JecUqYSo1f286">
                2016-04-30
            </a>
        </strong><br>
    </font>
</div>
{% endblock %}
