{% extends "app/layout.html" %}

{% block content %}
<head>
    <title> 북가주 한양 대학교 동문회 - Home </title>
</head>
<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/thanks_giving.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="347" height="182" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>북가주 한양대 동문회 이사/고문님께,</strong><br><br>
        안녕하세요?<br><br>
        11월 20일(금) 7:30 pm ~9:00 pm까지 Zoom 온라인으로 이사회가 진행되었으며 논의 및 결정된 사항은 아래와 같습니다.<br><br>
        ---------- 아   래--------------<br>
        참석자 (16명, 존칭 생략): 김용근, 남상신, 조장호, 이  완, 권성윤, 염동석, 방호열, 이재홍,<br>
                                             조한수, 엄태석, 김영훈, 김갑순, 오재상,김재홍, 윤보라, 정재근<br><br>

        <p>1. 동문회장 / 이사장 선출</p>
        <ul>
            <li>동문회장 선출</li>
            <li>엄태석(85, 재료) 동문회장의 1년(2021년 말) 임기연장을 14명의 찬성으로 통과. (현 동문회 임원들은 유임)</li>
            <li>이사장 선출<br>
            16명 전원의 찬성으로 정성수(80, 산공) 동문을 이사장으로 선출 </li>
        </ul>

        <p>2. 재정보고</p>
        <ul>
            <li>동문회 (김영훈 회계)<br>
                수입: $10,149 = (2019년 이월금액 $9669 + 도네이션 $480)<br>
                지출: $910 =(멘토단 모임 & 전준희 부회장 환송)<br>
                잔고: $9239</li>

            <li>골프회 (김재홍 총무)<br>
                잔고: $2842</li>
        </ul>

        <p>3. 멘토단 활동 보고 (김갑순 멘토단장)</p>
        <ul>
            <li>제4기 신입 멘토 위촉: 36명</li>
            <li>2020년 정규 수업 과정으로 멘토단 강의</li>
            <li>Start up talk concert 등</li>
            <li>실리콘밸리를 넘어 전미주 동문들이 멘토로 참여할 수 있는 글로벌 멘토단을 지향 (조장호 고문)</li>
        </ul>

        이번주는 추수감사절 연휴입니다.<br>
        감사의 의미가 어느 해보다 더 큰 한 해가 아닌가 생각합니다.<br><br>

        이사님과 고문님 가정에 행복과 건강이 넘쳐 나시기를 기원합니다.<br>
        감사합니다.<br><br>

         이사장 : 남상신(64.산공) 415-866-8798<br>
         회   장 : 엄태석(85.재료) 408-318-1626<br>
    </font>
</div>

{% endblock %}
