{% extends "app/layout.html" %}

{% block content %}

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/nchyu_2019.jpg' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="4">
        <strong>실리콘 밸리의 미래를 열어가는 북가주 한양대 동문 선후배동문님,</strong><br><br>
        2019년 기해년 새해 복 많이 받으시길 기원합니다.<br><br>
        19대 동문회장 엄태석입니다.<br>
        한양대 북가주 동문회는 1983년 창립 이래 지난 36년간 한양의 전통과 비전을 세워나가는데 선후배 동문
        님들이 최선을 다하여왔습니다.<br>
        IT의 세계 심장인 실리콘밸리에 진출하여 유수의 기업에서 활동 중인 저희 선배들에 대한 본교의 관심과
        후배들의 기대 또한 나날이 커지고 있습니다.<br><br>
        저희 19대 임원진은 선배님들이 쌓아놓은 업적을 계승 발전 시켜 역량 있는 동문 님들과 화합된 모습으로
        미래를 열어가는 북가주 동문회가 되도록 최선을 다하겠습니다. 19대 회장단을 동문님들께 소개하겠습니다. <br><br>
        <strong>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <19대 임원>
                <ul style="padding-left: 120px !important;">
                    <li> 회장 엄태석 (85 재료) </li>
                    <li> 부회장 조한수 (85 재료) </li>
                    <li> 부회장 전준희 (90 수학) </li>
                    <li> 회계 김영훈 (88 기계) </li>
                    <li> 동문회 총무 오재상 (91 전통) </li>
                    <li> 골프회 총무 김재홍 (91 전통) </li>
                    <li> 부회계 정재근 (96 화공) </li>
                </ul>
        </strong> <br>
        동문 선후배님들의 많은 관심과 후원 그리고 적극적인 참여 부탁드립니다. <br><br>
        동문회장 엄태석 드림
    </font>
</div>

{% endblock %}
