{% extends "app/layout.html" %}

{% block content %}

<span style="z-index:10;position:relative;float:left;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/Jaegun.jpg' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <strong>Computer Skills</strong>
    <br>
    <ul>
        <li>
            <a href="https://www.python.org/"> Python </a>
            <ul>
                <li>
                    Developing web applications with <a href="https://www.djangoproject.com/"> django</a>.
                    <a href="https://docs.python.org/2/library/unittest.html"> Unit testing framework</a>.
                </li>
                <li>
                    Data analysis using <a href="http://www.numpy.org/"> numpy</a>, <a
                        href="https://pandas.pydata.org/"> pandas</a>,
                    <a href="https://github.com/yhat/pandasql"> pandasql</a>, <a href="https://matplotlib.org/">
                    matplotlib</a>, etc.
                </li>
                <li>
                    Took <a href="https://www.coursera.org/specializations/deep-learning"> Andrew Ng's Coursera Machine
                    Learning courses</a>
                    related to neural network for deep learning with <a href="http://scikit-learn.org/stable/">
                    scikit</a>.
                </li>
            </ul>
        </li>
        <li>
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"> Javascript</a> -
            Using <a href="https://jquery.com/"> jquery</a>, identifying elements and applying class for an effect.
            Controlling orders of functions using
            <a href="https://developer.mozilla.org/en-US/docs/Glossary/Callback_function"> callback</a>.
            Experienced with <a href="https://datatables.net/"> DataTable</a> and
            <a href="http://es6-features.org/"> ES6</a>.
            <br>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/HTML"> HTML</a> /
            <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a> -
            Composed a simple HTML and modified a complex HTML with CSS.
        </li>
        <li>
            <a href="https://www.mysql.com/"> MySQL</a> - Created DB and tables and manipulate data after filtering
            using query.
            Experienced working with <a href="https://www.mysql.com/products/workbench/"> Workbench</a>.
            Using <a href="https://www.r-project.org/"> R</a> or
            <a href="https://www.perl.org/"> perl</a> scripts, populated data into DB.
        </li>
        <li>
            <a href="https://www.atlassian.com/continuous-delivery/ci-vs-ci-vs-cd"> CI/CD</a> -
            Version control via <a href="https://git-scm.com/"> git</a>.
            Continuous Integration and Continuous Development (CI/CD) with
            <a href="https://jenkins.io/"> Jenkins</a> and
            <a href="https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner+for+Jenkins">
                SonarQube</a>.
        </li>
        <li>
            <a href="https://www.r-project.org/"> R</a> - Using the
            <a href="https://www.rstudio.com/"> R studio</a>,
            be efficient in working on scripts with log console and installing libraries when needed.
            Processed statistical metrics and displayed various types of plots.
            <br>
        </li>
        <li>
            <a href="https://www.linux.org/"> Linux</a> - Skilled at using shell scripts for both
            <a href="https://en.wikipedia.org/wiki/C_shell"> csh</a> and
            <a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)"> bash</a>.
            Experienced with <a href="https://en.wikipedia.org/wiki/AWK"> awk</a>.
            Installed multiple Linux versions including
            <a href="https://www.centos.org/"> CentOS</a>,
            <a href="https://www.ubuntu.com/"> Ubuntu</a>, and
            <a href="https://getfedora.org/"> Fedora</a>.
            Diagnosed system errors checking a system log file.
        </li>
    </ul>
    <br>
    <strong>Work Experience</strong>
    <br>
    <ul>
        <li>
            December 2018 - Present &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : Enovix, Freemont, CA, Sr. Principal Data Engineer
        </li>
        <li>
            March 2018 &nbsp; &nbsp; &nbsp; - November 2018 : Infosys, @Cisco, San Jose, CA, Tech. Leader
        </li>
        <li>
            March 2013 &nbsp; &nbsp; &nbsp; - March 2018 &nbsp; &nbsp; &nbsp; : Ramboll, Novato, CA, Senior Associate
        </li>
        <li>
            October 2008 &nbsp; &nbsp;- February 2013 &nbsp; : Ramboll, Novato, CA, Associate
        </li>
    </ul>
    <br>
    <strong>Education</strong>
    <br>
    <ul>
        <li>
            2008 PhD, Chemical Engineering, Carnegie Mellon University, Pittsburgh, PA
            <br>
        </li>
        <li>
            2003 BS, Chemical Engineering, Hanyang University, Seoul, Korea
        </li>
    </ul>
    <br>
    <strong>Visa Status</strong>
    <br>
    <ul>
        <li>
            Permenant Resident
            <br>
        </li>
    </ul>
</div>

{% endblock %}
