<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/sites.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/fancybox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/main_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font_face.css' %}">
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'app/scripts/main.js' %}"></script>
    {% block extrahead %}{% endblock %}
</head>

<body class="wsite-theme-light no-header-page wsite-page-index">
<div id="header-wrap">
    <div id="page">
        <div id="header-container">
            <table id="header">
                <tbody>
                <tr>
                    <td id="logo">
                            <span class="wsite-logo">
                                <a href="/">
                                    <img src="{% static 'app/images/logo1_2-7-2019.JPG' %}"
                                     style="margin-top: 0px; margin-bottom: 0px; margin-left: 0px;
                                     margin-right: 0px; padding: 0px; width: 90%; height: 90%"
                                     alt="Picture" class="galleryImageBorder">
                                </a>
                            </span>
                    </td>
                    <td id="header-right">
                        <table>
                            <tbody>
                            <tr>
                                <td class="phone-number">
                                        <span class="wsite-text">
                                            <a href="mailto:sfbayhanyang@gmail.com">sfbayhanyang@gmail.com</a>
                                        </span>
                                </td>
                                <td class="social"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="search"></div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="topnav">
                <ul class="wsite-menu-default">
                    <font size="4" !important;>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/" style="position: relative; font size=20px !important;">Home</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/mentor/" style="position: relative; font size=20px !important;">Mentor</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/yearend/" style="position: relative; font size=20px !important;">YearEnd</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/golf/" style="position: relative; font size=20px !important;">Golf</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/meet/" style="position: relative; font size=20px !important;">Meet</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/app/" style="position: relative; font size=20px !important;">Blog</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/organization.html" style="position: relative; font size=20px !important;">Org</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/g_videos.html" style="position: relative;">Video</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/events.html" style="position: relative;">Event</a>
                        </li>
                        <li class="wsite-nav-0" style="position: relative;">
                            <a href="/contact.html" style="position: relative;">Join</a>
                        </li>
                    </font>
                </ul>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>
<div id="banner-wrap">
    <div id="container">
        <div class="wsite-header"></div>
    </div>
</div>
<div id="main-wrap">
    <div id="page">
        <div id="main">
            <div id="content">
                <div id="wsite-content" class="wsite-elements wsite-not-footer">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}{% endblock %}
</div>
</body>
</html>
