{% extends "app/layout.html" %}

{% block content %}
<head>
    <title> 피크닉 및 다른 모임 </title>
</head>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>피크닉 및 다른 모임</strong><br><br>
        동문 전체 피크닉은 초여름과 가을에 두 가지 주요 행사가 있습니다.
        초여름에는 조한수 (85 재료) 동문이 주최하는 과수원에서의 살구 따기
        행사와, 가을에는 Watsonville에서의 감 따기 행사가 예정되어 있습니다.
        또한, 이스트 베이 지역에서는 번개 모임이 정기적으로 열립니다.
        그 외에도 권성윤 (79 금속) 동문 주도로 동문 산행이 진행되고 있으니
        많은 참여 부탁드립니다.<br><br>

        <br>
        링크를 클릭하시면 구글포토 앨범을 보실 수 있습니다.

        <br><br>

    </font>
</div>
<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2024_apricot.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="310" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/jvGfy83gi2YfWX7b7">
                2024-06-29 살구따기 행사
            </a>
            <br><br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2023_persimmon_pickup.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="544" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/LGiGhU7qto7D41HcA">
                2023-11-04 감따기 행사
            </a>
            <br><br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2023_east_bay.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="546" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/WrFXyA6HEBKUtt2S9">
                2023-09-08 이스트 베이 번개모임
            </a>
        </strong>
            <br><br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2023_july_east_bay.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="468" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/1yjCtZKmkqAtxy3A7">
                2023-07-21 이스트 베이 번개모임
            </a>
        </strong>
        <br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2023_mentor_offline.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="606" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/D2S9dWpueXxE3pfi9">
                2023-10-11 멘토단 모임
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2018_persimmon_pickup_orig.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="487" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
                2018 년 감따기
        </strong><br><br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2012_picnic.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="251" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/3xNmbLabif2hnkH39">
                2012-06-23 동문 야유회 Sunnyvale CA
            </a>
        </strong><br><br>
    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2012_or_earlier.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="284" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/4R85HNpsSqFWqRvF8">
                2012년 또는 이전 모임
            </a>
        </strong><br><br>
    </font>
</div>

{% endblock %}
