{% extends "app/layout.html" %}

{% block content %}
<head>
    <title> 멘토단 위촉식 </title>
</head>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>8기 위촉식 멘토단장 감사의 말씀</strong><br><br>
        한양대 동문들로 구성된 실리콘 밸리 멘토단이 올해 8기를 맞이하였습니다.
        어려운 상황 속에서도 모교 발전과 해외 동문들과의 교류를 위해 동분서주하시는
        총장님을 환영하고 응원합니다. <br><br>

        멘토단으로 본교에 좋은 선배가 되어 주시는
        멘토님들과 항상 든든한 버팀목이신 선배님들이 만들어주시는 화합과 나눔의 시간이 되기를 바라며
        참석해주신 모든 분들께 감사드립니다. 실리콘 밸리 멘토단은 연구하는 대학, 혁신하는 지성의 한양대학을
        늘 지지하고 지원합니다.<br><br>

        글로벌 스타트업 멘토단장 서정욱 드림
        <br><br><br>
        링크를 클릭하시면 구글포토 앨범을 보실 수 있습니다.
        <br>

    </font>
</div>
<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2024.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="390" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/DQeGJgfHUB4TWx25A">
                제 8 기 - 2024년
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2023.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="380" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/37v5MtHrA6jLm3uy5">
                제 7 기 - 2023년
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2022.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="354" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/syJJrdPCDdK2yRL38">
                제 6 기 - 2022년
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2021.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="322" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/FgV4u1jyvvuKwo3Q6">
                제 5 기 - 2021년
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2020.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="424" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            제 4 기 - 2020년
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2019.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="256" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/XSBoS7AXmAuT9tFz5">
                제 3 기 - 2019년
            </a>
        </strong><br><br></font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2018_low_res.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="399" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/eta5xC4HuM1iV8PE9">
                제 2 기 - 2018년
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2017.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="526" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            제 1 기 - 2017년
        </strong><br><br>
    </font>
</div>
{% endblock %}
