{% extends "app/layout.html" %}

{% block content %}
<head>
    <title> 송년모임 </title>
</head>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>2023년 송년 모임 감사의 글</strong><br><br>
        2023년 무탈하고 즐겁운 한 해를 보내셨길 바랍니다.
        코비드가 종식된 가운데 어려운 경제상황을 이겨내며
        가족과 사회를 위해 노력하신 모습에 존경을 담은 인사를 드립니다.
        동문회는 여러분의 지속적인 관심과 참여로 유지됩니다.
        바쁜 일상에도 불구하고 동문회에 대한 지지와 관심 그리고
        도움을 주신 동문및 동문 가족분들께 감사를 드립니다. <br><br>
        오랜 시간 한양인으로 소중한 인연을 쌓아주신 선배님들께 감사를
        드리고 새로운 인연을 맺고 쌓을 수 있는 기회를 준 후배배님들께도
        감사를 드립니다.
        2024년에도 동문사랑으로 좋은 인연 이어가면 좋겠습니다.
        2023년 잘 마무리 하시고 새해에 다시 뵙겠습니다.<br><br>

        북가주 한양대학교 동문회 21대 회장 오재상 <br>
        북가주 한양대학교 동문회 20대 이사장 정성수
        <br><br><br>
        링크를 클릭하시면 구글포토 앨범을 보실 수 있습니다.

        <br>

    </font>
</div>
<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2023_farewell.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="451" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/4cWVfBahr8WXovwx9">
                2023년
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/mentor_2021.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="322" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/FgV4u1jyvvuKwo3Q6">
                2021년
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2019_farewell.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="347" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/ZcnsSayM8hLkU7Mq7">
                2019년
            </a>
        </strong><br><br></font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2018_farewell_trimmed.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="478" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/cnjFD72PBdJB5uYh7">
                2018년
            </a>
        </strong><br><br>

    </font>
</div>

<span style="z-index:10;position:relative;float:none;margin-top:0px;*margin-top:0px">
    {% load staticfiles %}
    <img src="{% static 'app/images/2017_farewell.png' %}"
         style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:1px;padding:3px;"
         alt="Picture" width="869" height="383" class="galleryImageBorder">
</span>
<div class="paragraph" style="display:block;">
    <font size="3">
        <strong>
            <a href="https://photos.app.goo.gl/epNMCojKfzADjYsd8">
                2017년
            </a>
        </strong><br><br>
    </font>
</div>
{% endblock %}
