{% extends "app/layout.html" %}

{% block extrahead %}
<script type="text/javascript">
(function(jQuery){
    function initFlyouts(){
        initPublishedFlyoutMenus([
            {"id":"638078592807400547","title":"Home","url":"index.html","target":""},
            {"id":"379943252612927371","title":"Works done","url":"figures.html","target":""},
            {"id":"951529784407562437","title":"PUBLICATIONS & PRESENTATIONS","url":"papers.html","target":""},
            {"id":"165258903452855671","title":"Personal Links","url":"contact.html","target":""}
            ],
            '951529784407562437',
            "<li class='wsite-nav-more'><a href='#'>more...<\/a><\/li>",
            'active',
            false
        )
    }
    if (jQuery) {
        if (jQuery.browser.msie && !window.flyoutMenusRefreshable) window.onload = initFlyouts;
        else jQuery(initFlyouts);
    }else{
        if (Prototype.Browser.IE) window.onload = initFlyouts;
        else document.observe('dom:loaded', initFlyouts);
    }
})(window._W && _W.jQuery)

</script>
{% endblock %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
<UL>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Downey, N., C. Emery,
  <STRONG>J. Jung</STRONG>, T. Sakulyanontvittaya, L. Hebert, D. Blewitt, G. 
  Yarwood.&nbsp;&nbsp;<STRONG>2015</STRONG>.&nbsp;&nbsp;“Emission Reductions and 
  Urban Ozone Responses Under more Stringent US Standards”.&nbsp;&nbsp;Atmos. 
  Environ., 101, 209‐216, 
  http://dx.doi.org/10.1016/j.atmosenv.2014.11.018.</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Kemball‐Cook, S., C.
  Emery, <STRONG>J. Jung</STRONG>, E. Tai, G. Yarwood, B. Dornblaser. 
  <STRONG>2014</STRONG>. “Improving the Simulation of Upper Tropospheric Ozone 
  and NOy in the CAMx Model”.&nbsp;&nbsp;Presentation at the Atmospheric 
  Chemical Mechanisms Conference, Davis, CA, December.</SPAN><BR></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Emery, C., S.
  Kemball‐Cook, <STRONG>J. Jung</STRONG>, E. Tai, G. Yarwood, B. Dornblaser. 
  <STRONG>2014</STRONG>. “Improving Sources of Stratospheric Ozone and NOy and 
  Evaluating Upper Level Transport in CAMx.”&nbsp;&nbsp;Presentation at the 13th 
  Annual CMAS Conference, Chapel Hill, NC, October.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Emery, C., <STRONG>J.
  Jung</STRONG>, T. Sakulyanontvittaya, G. Yarwood. <STRONG>2014</STRONG>. “CAMx 
  HDDM Simulations with the 2011/18 Modeling Platform to Estimate Precursor 
  Emissions Meeting Future US Ozone Standards.”&nbsp;&nbsp;Poster presentation 
  at the 13th Annual CMAS Conference, Chapel Hill, NC, 
October.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">McDonald‐Buller, E., Y.
  Kimura, G. McGaughey, D.T. Allen, M. Sulprizio, D. Jacob, <STRONG>J. 
  Jung</STRONG>, G. Yarwood, J. Johnson, C. Emery. <STRONG>2014</STRONG>. 
  “Predictions of North American Background Ozone in Texas.” Presentation at the 
  13th Annual CMAS Conference, Chapel Hill, NC, October.</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Nopmongcol, U., C. Emery,
  T. Sakulyanontvittaya, <STRONG>J. Jung</STRONG>, E. Knipping, G. Yarwood. 
  <STRONG>2014</STRONG>.&nbsp;&nbsp;“A modeling analysis of alternative primary 
  and secondary US ozone standards in urban and rural areas.”&nbsp;&nbsp;Atmos. 
  Environ., 99, 266‐276, 
  http://dx.doi.org/10.1016/j.atmosenv.2014.09.062.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Lefohn, A., C. Emery, D.
  Shadwick, H. Wernli, <STRONG>J. Jung</STRONG>, S. Oltmans. 
  <STRONG>2014</STRONG>. “Estimates of Background Surface Ozone Concentrations 
  in the United States Based on Model‐Derived Source Apportionment. Atmos. 
  Environ., 84., 275‐288, 
  http://dx.doi.org/10.1016/j.atmosenv.2013.11.033.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Yarwood, G., E.Tai,
  <STRONG>J.Jung</STRONG>. <STRONG>2013</STRONG>. “Contributions of North 
  American Emissions and Global Transport to Ozone in the US and Texas.” Air 
  Quality and Climate Change Journal. November.&nbsp;&nbsp;&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Yarwood, G., C. Emery,
  <STRONG>J. Jung</STRONG>, U. Nopmongcol, and T. Sakulyanotvittaya. 
  <STRONG>2013</STRONG>. "A Method to Represent Ozone Response to Large Changes 
  in Precursor Emissions Using High‐Order Sensitivity Analysis in Photochemical 
  Models." Geosci. Model Dev., 6, 1601‐1608, 
  http://www.geosci‐model‐dev.net/6/1601/2013/gmd‐6‐1601‐2013.pdf, 2013. 
  September.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Emery, C.A., <STRONG>J.
  Jung</STRONG>, N. Downey, J. Johnson, M. Jimenez, G. Yarwood, R. Morris. 
  <STRONG>2012</STRONG>. :”Regional and Global Modeling Estimates of Policy 
  Relevant Background Ozone Over the United States.” Atmos. Environ., Volume 47, 
  pp 206‐217. February.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Koo, B., <STRONG>J.
  Jung</STRONG>, A. K. Pollack, C. Lindhjem, M. Jimenez, and G. Yarwood. 
  <STRONG>2012</STRONG>.” Impact of Meteorology and Anthropogenic Emissions on 
  the Local and Regional Ozone Weekend Effect in Midwestern U.S.” Atmos. 
  Environ., 57, 13‐21, (doi:10.1016/j.atmosenv.2012.04.043).&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Nopmongcol, U., B. Koo, E.
  Tai, <STRONG>J. Jung</STRONG>, P. Piyachaturawat, C. Emery, G. Yarwood, G. 
  Pirovano, C. Mitsakou, G. Kallos. <STRONG>2011</STRONG>. “Modeling Europe with 
  CAMx for the Air Quality Model Evaluation International Initiative (AQMEII).” 
  Atmos. Environ., doi:10.1016/j.atmosenv.2011.11.023&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Emery, C., <STRONG>J.
  Jung</STRONG>, G. Yarwood, R. Morris. <STRONG>2011</STRONG>. “Regional/Global 
  Modeling of PRB Ozone Over the US.” Presented at the 10th Annual CMAS 
  Conference, Chapel Hill, NC, October. Kemball‐Cook, S., A. Bar‐Ilan, J. Grant, 
  L. Parker, J. Jung, W. Santamaria, J. Mathews, and G. Yarwood. 2010. “Ozone 
  Impacts of Natural Gas Development in the Haynesville Shale.” Environ. Sci. 
  Technol., 44 (24), 9357‐9363.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Emery, C.A., <STRONG>J.
  Jung</STRONG>, J. Johnson, G. Yarwood, S. Madronich, G. Grell, D. Boyer. 
  <STRONG>2010</STRONG>. “Improving Cloud Impacts on Photolysis Using an On‐Line 
  Radiation Model in CAMx.” Poster presentation at the 9th Annual CMAS 
  Conference, Chapel Hill, NC, October.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Yarwood, G., <STRONG>J.
  Jung</STRONG>, G. Z. Whitten, G. Heo, J. Mellberg and E. Estes. 
  <STRONG>2010</STRONG>. “Updates to the Carbon Bond Mechanism for Version 6 
  (CB6). Presented at the 9th Annual CMAS Conference, Chapel Hill, 
  October.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Kemball‐Cook, S., A.
  Bar‐Ilan, J. Grant, L. Parker, <STRONG>J. Jung</STRONG>, W. Santamaria, and G. 
  Yarwood. <STRONG>2010</STRONG>. “Development of an Emission Inventory for 
  Natural Gas Exploration and Production in the Haynesville Shale and Evaluation 
  of Ozone Impacts.” Presented at U.S. EPA’s 19th Annual International Emissions 
  Inventory Conference "Emission Inventories&nbsp;‐&nbsp; Informing Emerging 
  Issues." San Antonio, TX, September.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Morris, R.E., <STRONG>J.
  Jung</STRONG>. <STRONG>2009</STRONG>. “Assessment of the Sources of Organic 
  Carbon at Monitoring Sites in the Southeastern US Using Receptor and 
  Deterministic Models.” Presented at CMAS 8th Annual Conference, Chapel Hill, 
  NC. October.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  C. Fountoukis, P. J. Adams and S. N. Pandis. <STRONG>2009</STRONG>. 
  “Simulation of In‐Situ Ultrafine Particle Formation in the Eastern United 
  States Using PMCAMx‐UF.” J. Geophys. Res., 115, D03203, 
  doi:10.1029/2009JD012313.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  C. Fountoukis, P. J. Adams and S. N. Pandis. <STRONG>2009</STRONG>. 
  “Simulation of in‐Situ Ultrafine Particle Formation in the Eastern United 
  States Using PMCAMx‐UF.” Proceedings of the 18th International Conference on 
  Nucleation and Atmospheric Aerosols, Prague, Czech Republuc, August. 
  338‐342.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Morris, R.E., <STRONG>J.
  Jung</STRONG>, E. Fujita, P. Brewer. <STRONG>2009</STRONG>. “Assessment of the 
  Sources of Organic Carbon at Monitoring Sites in the Southeastern United 
  States Using Receptor and Deterministic Models.” Presented at the AW&amp;MA 
  102nd Annual Conference and Exhibition, Detroit, MI. June.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  P. J. Adams and S. N. Pandis. <STRONG>2008</STRONG>. “Simulation of In Situ 
  Ultrafine Particle Formation in the Eastern United States Using PMCAMx‐UF.” 
  Presented at the American Association for Aerosol Research (AAAR), Orlando, 
  FL, October.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  P. J. Adams and S. N. Pandis. <STRONG>2008</STRONG>. “Evaluation of Nucleation 
  Theories in a Sulfur‐Rich Environment.” Aerosol Sci. Tech., 42, 495‐504. Jung, 
  J., P. J. Adams and S. N. Pandis. 2008. “Regional Air Quality‐Atmospheric 
  Nucleation.” 17th International Nucleation and Atmospheric Aerosols 
  Conference, Galway, Ireland, August 13th – 17th, 2007, Eds. Colin D. O’Dowd 
  and Paul Wagner, pages 871‐877, springer.com, ISBN 
  978‐1‐4020‐6474‐6.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;">Adams, P. J., <STRONG>J.
  Jung</STRONG>, Y. Lee, J. R. Pierce, W. Trivitayanurak, S. N. Pandis. 
  <STRONG>2007</STRONG>. “Application of Moment‐Sectional Algorithms to Emerging 
  Problems in Aerosol Science.” Presented at International Aerosol Modeling 
  Algorithms (IAMA), University of California Davis, CA, 
  December.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  P. J. Adams and S. N. Pandis. <STRONG>2007</STRONG>. “Regional Air 
  Quality‐Atmospheric Nucleation Interactions.” Presented at the American 
  Association for Aerosol Research (AAAR), Reno, NV, 
September.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  P. J. Adams and S. N. Pandis. <STRONG>2006</STRONG>. “Simulation of the 
  Acidity and Growth of Multicomponent Nucleated Particles in the Eastern United 
  States.” Presented at International Aerosol Conference, St. Paul, MN, 
  September.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  P. J. Adams and S. N. Pandis. <STRONG>2005</STRONG>. “Simulating the Size 
  Distribution and Chemical Composition of Ultrafine Particles During Nucleation 
  Events.” Presented at the American Association for Aerosol Research (AAAR), 
  Austin, TX, October.&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  P. J. Adams and S. N. Pandis. <STRONG>2005</STRONG>. “Simulating the In‐Situ 
  Formation and Size/Composition Distribution of Ultrafine Particles.” Presented 
  at European Aerosol Conference (EAC), Ghent, Belgium, August 28 – 
  September.&nbsp;&nbsp;&nbsp;</SPAN></LI>
    <LI><SPAN style="line-height: 1.5; font-size: 1em;"><STRONG>Jung, J</STRONG>.,
  P. J. Adams and S. N. Pandis. <STRONG>2005</STRONG>. “The Dynamics of 
  Multicomponent Atmospheric Nanoparticles.” Presented at the American 
  Association for Aerosol Research (AAAR), Atlanta, GA, 
  February.&nbsp;<BR></SPAN></LI>
</UL>
</p>


{% endblock %}
